.about-brand {
  width: 280px;
  margin: 0 auto;
  padding: 20px;

  &_description {
    &-text {
      margin-bottom: 25px;

      font-size: 14px;
      font-weight: 400;
      line-height: 21px;
      color: $color-dark;

      &--bigger-screen {
        display: none;

        @media (min-width: 1280px) {
          display: block;

          margin-bottom: 25px;

          font-size: 16px;
          font-weight: 400;
          line-height: 24px;
          color: $color-dark;
        }
      }

      @media (min-width: 768px) {
        font-size: 16px;
        line-height: 24px;
      }
    }

    @media (min-width: 768px) {
      width: 100%;
    }

    @media (min-width: 1280px) {
      width: 380px;
      margin-left: 40px;
    }
  }

  &_images {
    display: none;

    &-tablet {
      display: none;

      @media (min-width: 768px) {
        display: block;
      }

      @media (min-width: 1280px) {
        display: none;
      }
    }

    &-desktop {
      display: none;

      &--small {
        width: 200px;
        padding-left: 10px;
      }

      @media (min-width: 1280px) {
        display: block;
      }
    }

    @media (min-width: 768px) {
      display: block;
    }
  }

  @media (min-width: 768px) {
    display: flex;
    gap: 30px;
    justify-content: space-between;

    box-sizing: border-box;
    width: 100%;
    margin: 0;
    padding: 10px 40px;
  }

  @media (min-width: 1280px) {
    display: flex;
    justify-content: space-between;
    max-width: 1180px;
    margin: 0 auto;
  }
}
