@font-face {
  font-family: 'Sharp Sans No2';
  font-weight: normal;
  font-style: normal;
  src:
    local('Sharp Sans No2'), url(../fonts/SharpSansNo2/SharpSansNo2Medium.otf);
}

@font-face {
  font-family: 'Sharp Sans No2';
  font-weight: bold;
  font-style: normal;
  src:
    local('Sharp Sans No2'), url(../fonts/SharpSansNo2/SharpSansNo2Semibold.otf);
}
