.about {
  position: relative;
  margin: 200px 0;

  &__deco-wrapper {
    @extend %deco-wrapper;
  }

  &__deco-text {
    @extend %deco-text;

    top: 200px;
  }

  &:hover &__deco-wrapper * {
    top: 100px;
  }

  &__wrapper {
    display: grid;
    grid-column-gap: 20px;
    grid-template-columns: 1fr 1fr;

    max-width: 1200px;
    margin: 0 auto;
    padding: 0 50px;

    &::after {
      content: '';

      position: absolute;
      inset: 100px 0 0 calc(50% + 500px);

      display: block;

      object-fit: cover;
      background-image: url(../images/about-image.png);
      background-repeat: no-repeat;
      background-position: center;

      @media (max-width: $tabletWidth) {
        display: none;
      }

      @media (min-width: 2000px) {
        background-position: left;
      }
    }

    @media (max-width: $tabletWidth) {
      grid-column-gap: 30px;
      padding: 0;
    }

    @media (max-width: $mobileWidth) {
      display: block;
      padding: 20px;
    }
  }

  &__info {
    max-width: 380px;
    padding-left: 100px;

    @media (max-width: $tabletWidth) {
      padding-left: 27px;
    }

    @media (max-width: $mobileWidth) {
      width: auto;
      padding: 0;
    }
  }

  &__title {
    padding-top: 40px;

    font-size: 36px;
    line-height: 150%;
    color: $witchGreen;
    text-transform: uppercase;
    letter-spacing: 0.05em;

    @media (max-width: $tabletWidth) {
      padding-top: 0;
      font-size: 24px;
    }
  }

  &__text {
    margin: 20px 0;
    font-size: 16px;
    line-height: 150%;
    color: $witchGray;
  }

  &__text-hidden {
    @media (max-width: $tabletWidth) {
      display: none;
    }
  }

  &__link {
    @extend %link;

    margin-top: 2px;
  }

  &__image {
    position: relative;
    transform: translateX(-20px);

    object-fit: cover;
    background-image: url(../images/about-image.png);
    background-repeat: no-repeat;
    background-position: left;

    @media (max-width: $tabletWidth) {
      transform: translateX(0);
      background-position: center;
    }
  }

  @media (max-width: $tabletWidth) {
    margin: 50px 0;
  }
}
