.button {
  display: flex;
  align-items: center;
  justify-content: center;

  box-sizing: border-box;
  width: 280px;
  margin: 30px auto 0;
  padding: 20px;
  border: none;

  background-color: $color-dark;

  &--bigger-screen {
    @media (min-width: 768px) {
      margin: 30px 0 0;
    }
  }

  &--header_bigger-screen {
    @media (min-width: 1280px) {
      margin: 0;
    }
  }

  &:hover {
    border: 1px solid $color-dark;
    background-color: $color-light-green;
  }

  &--link {
    cursor: pointer;

    font-size: 16px;
    font-weight: 600;
    color: $color-light-gray;
    text-decoration: none;
    text-transform: uppercase;

    &:hover {
      color: $color-dark;
    }
  }
}
