.icon {
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-size: contain;

  @media (min-width: 1280px) {
    height: 50px;
    width: 270px;
  }

  &--menu {
    background-image: url('../images/icon-Menu.png');

    @media (min-width: 1280px) {
      width: 200px;
      background-image: url('../images/icon-logo-desktop.png');
    }
  }

  &--logo {
    background-image: url('../images/logo.png');

    @media (min-width: 1280px) {
      display: none;
     /* margin-left: 0;*/ // 🔧 ajuste feito para aproximar o logo da borda
    }
  }

  &--close {
    background-image: url('../images/favicon/icon-close.svg');
    background-size: contain;

    @media (min-width: 1280px) {
      display: none;
    }
  }

  &--bag {
    background-image: url('../images/icon-bag.png');

    @media (min-width: 1280px) {
      width: 30px;
      height: 30px;
    }
  }

  &--microplastics {
    background-image: url('../images/favicon/icon-microplastics.svg');
  }

  &--recycled {
    background-image: url('../images/favicon/icon-recycled.svg');
  }

  &--natural {
    background-image: url('../images/favicon/icon-natural.svg');
  }

  &--facebook {
    cursor: pointer;
    background-image: url('../images/favicon/icon-facebook.svg');
    background-repeat: no-repeat;
    cursor: pointer;
  }

  &--instagram {
    cursor: pointer;
    background-image: url('../images/favicon/icon-instagram.svg');
    background-repeat: no-repeat;
    cursor: pointer;

    path:hover {
      fill: red;
    }
  }
}
