.powder {
  box-sizing: border-box;
  padding: 80px 20px;

  &_photos {
    margin-left: 40px;
    padding: 20px 0 50px;

    &-mobile {
      @media (min-width: 768px) {
        display: none;
      }

      @media (min-width: 1280px) {
        display: none;
      }
    }

    &-tablet {
      display: none;

      @media (min-width: 768px) {
        display: block;
        margin-left: auto;
      }
    }

    @media (min-width: 768px) {
      display: flex;
    }
  }

  @media (min-width: 1280px) {
    box-sizing: border-box;
    width: 100%;
    max-width: 1180px;
    margin: auto;
  }
}
