.shop {
  padding-top: 80px;

  &--title {
    text-align: center;

    @media (min-width: 768px) {
      padding-left: 20px;
      text-align: left;
    }

    @media (min-width: 1280px) {
      padding-left: 60px;
    }
  }

  &__tab {
    &--bigger-screen {
      display: none;

      @media (min-width: 768px) {
        display: block;
      }
    }

    &_list {
      display: flex;
      justify-content: space-between;
      padding: 20px 20px 30px;
      text-align: center;

      &_link {
        list-style: none;

        &-item {
          cursor: pointer;

          font-size: 14px;
          font-weight: 400;
          color: $color-medium-gray;
          text-decoration: none;
          text-transform: uppercase;

          &:hover {
            border-bottom: 2px solid black;
          }
        }
      }

      @media (min-width: 768px) {
        width: 300px;
      }

      @media (min-width: 1280px) {
        width: 400px;
        padding-left: 60px;
      }
    }

    &_picture {
      &-photo {
        width: 100%;

        &--tablet {
          @media (min-width: 1280px) {
            display: none;
          }
        }

        &--desktop {
          @media (min-width: 768px) {
            display: none;
          }

          @media (min-width: 1280px) {
            display: block;
            margin-right: 50px;
          }
        }

        @media (min-width: 1280px) {
          width: auto;
          margin-left: 40px;
        }
      }

      &-description {
        padding: 10px 20px;

        &--title {
          margin-bottom: 10px;

          font-size: 18px;
          font-weight: 600;
          color: $color-dark;
          text-transform: uppercase;
        }

        &--price {
          font-size: 18px;
          font-weight: 500;
          color: $color-dark;
          text-transform: uppercase;
        }

        @media (min-width: 768px) {
          padding: 10px 0;
          text-align: left;
        }

        @media (min-width: 1280px) {
          margin-left: 40px;
        }
      }

      @media (min-width: 768px) {
        display: flex;
        justify-content: space-between;
        padding-inline: 20px;
      }

      @media (min-width: 1280px) {
        gap: 30px;
        align-items: flex-start;
      }
    }
  }

  @media (min-width: 1280px) {
    box-sizing: border-box;
    width: 100%;
    max-width: 1180px;
    margin: auto;
  }
}
